# Ignore everything
*

# But not these files...
!.gitignore
!.gitkeep

!*.md
TODO.md

!LICENSE

!*.go
!go.mod
!go.sum

!*.yaml
!*.xml
!*.json

!Makefile

# ...even if they are in subdirectories
!*/

# ignore release folder because there could be files allowed above
dist/

