name: build
permissions:
  contents: read
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1

      - name: install go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.6.2

      - name: Run Tests
        run: make test

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs:
      - build
    permissions:
      actions: read # needed for sbom task to see the release
      contents: write # needed by goreleaser to write release to github
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0 # needed for goreleaser to correctly create changelog

      - name: install go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create SBOM
        uses: anchore/sbom-action@v0.21.1
        with:
          artifact-name: sirigo.cyclonedx
          format: cyclonedx
