name: build
permissions:
  contents: write
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v6.0.1

    - name: install go
      uses: actions/setup-go@v6.1.0
      with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

    - name: Lint
      uses: golangci/golangci-lint-action@v9.2.0
      with:
        version: v2.6.2

    - name: Run Tests
      run: make test
      
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v6
      if: startsWith(github.ref, 'refs/tags/')
      with:
        version: '~> v2'
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}